@page "/ver-plano"
@using Syncfusion.Blazor.PdfViewer;
@using Syncfusion.Blazor.SfPdfViewer;

@if (!DocLoad) { 
}
else
{
    <p>@DocumentPath</p>
<SfPdfViewer ID="idPdf"
    ServiceUrl="/api/Values" DocumentPath="@DocumentPath"
    Height="1200px" Width="100%"></SfPdfViewer>

    
}




@code {

    [Inject] public HttpClient Http { get; set; }
    protected bool DocLoad = false;
    public string DocumentPath { get; set; }
    protected async override Task OnInitializedAsync()
    {
        DocumentPath = await Http.GetFromJsonAsync<string>($"api/AdministracionArchivos/GetPdfNube/D-13953.pdf/RUTAOF");
        DocLoad = true;
    }



}
