::deep #toolbar-form-solicitud {
    border: 0px solid rgb(173, 255, 47) !important;
}

#toolbar-form-solicitud .e-toolbar-item {
    /*background: #add8e6;*/
    /*border: 1px solid #5a70cc;*/
}

#toolbar-form-solicitud .e-tbar-btn {
    background: #398bf7;
    border-radius: 10%;
    /*border: 1px solid #5a70cc;*/
}

#toolbar-form-solicitud .e-toolbar-item:hover {
    background: #619ded;
    /*border: 1px solid #5a70cc;*/
}

#toolbar-form-solicitud .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn {
    min-height: 20px;
}

#toolbar-form-solicitud .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn:hover {
    background-color: #4f70ee;
    border-radius: 10%;
}


#toolbar-form-solicitud .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
    color: white;
}

#toolbar-form-solicitud .e-tbar-btn:focus {
    background: #3d53a8;
    border-color: #eaeaea;
    border-radius: 0;
    color: #000;
}


.container-button {
    text-align: right;
}

.e-grid .e-gridheader {
    font-size: 10px !important;
    /*padding: .5rem !important;*/
}

.e-grid .e-row {
    font-size: 10px;
}
