@using Syncfusion.Blazor.Navigations

<div class="row">
    <div class="col-6">
        <h3>Email a Enviar</h3>
    </div>
    <div class="col-6">
        <SfToolbar></SfToolbar>
    </div>
</div>

<div class="row">

</div>

@code {

}
