@page "/compras/solicitud-cotizacion"

@using Syncfusion.Blazor.DropDowns
@attribute [Authorize]
@inherits SolicitudCotizacionBase


<div class="row">
    <SfSpinner Label="Cargando..." @bind-Visible="@mostrarSpinner" Type="SpinnerType.Fabric"></SfSpinner>
    <div class="col-3">
        <SugerenciasCompras OnItemsSeleccionados="OnRecibirItemsSeleccionados"></SugerenciasCompras>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-12">
                <ProveedoresMateriaPrima @ref="refProveedoresMateriaPrima" SoloProveedoresConEmail="true"
                                         OnProveedorSeleccionado="OnProveedorSeleccionado" OnProveedorDeseleccionado="OnProveedorDeseleccionado">
                </ProveedoresMateriaPrima>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <Proveedores @ref="refProveedores" IdsProveedoresConMp="@idsProveedores"
                             OnProveedorSeleccionado="OnProveedorSeleccionado" OnProveedorDeseleccionado="OnProveedorDeseleccionado"></Proveedores>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <EmailPreview></EmailPreview>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <EmailsEnviados Data="@EmailsEnviados"></EmailsEnviados>
            </div>
        </div>

    </div>

</div>

