@page  "/control-calidad/Documentacion"
@using Syncfusion.Blazor.FileManager
@inject IJSRuntime JsRuntime;

<div class="control-section">
    <SfFileManager TValue="FileManagerDirectoryContent" AllowDragAndDrop="true" Height="450px" View="ViewType.Details">
        <FileManagerAjaxSettings Url="/api/FilesManager/FileOperations"
                                 DownloadUrl="/api/FilesManager/Download"
                                 UploadUrl="/api/FilesManager/Upload"
                                 GetImageUrl="/api/FilesManager/GetImage">
        </FileManagerAjaxSettings>
        <FileManagerEvents TValue="FileManagerDirectoryContent"></FileManagerEvents>
        <FileManagerNavigationPaneSettings Visible="false"></FileManagerNavigationPaneSettings>
    </SfFileManager>
</div>

@code {

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override Task OnInitializedAsync()
    {
        Layout.Titulo = "Documentos: Manual y procedimientos";
        return base.OnInitializedAsync();
    }

    protected async Task FileSelectedHandler(FileSelectEventArgs<FileManagerDirectoryContent> args)
    {
        var details = args.FileDetails.FilterPath;
        var name = args.FileDetails.Name;
    }

}