.titulo {
    font-weight: bold;
    color: #31b0d5;
}

.tooltip.e-tooltip-wrap.e-popup {
    background-color: #31b0d5;
    border-color: lightgray;
}


.listview {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left:none;
    border-right:none;
    border-radius: 3px;
}

/*label {
    color:blue;
}*/

e-grid .e-gridheader {
    background-color: #fff;
    border-bottom-color: #e0e0e0;
    border-top-color: #e0e0e0;
    color: rgba(0,0,0,0.54);
    font-size: 20px !important;
    font-weight:bold !important;
}