<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsForRDLC.Properties.Settings.ArbrosConnectionString"
            connectionString="Data Source=LAPTOP-LV729UDQ\SQL2017LIC;Initial Catalog=Arbros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsForRDLC.Properties.Settings.ArbrosConnectionString1"
            connectionString="Data Source=MARCELO-PC\SQL_2017;Initial Catalog=Arbros;User ID=sa;Password=Marce031010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>