@page "/index"

<h1>Hola, @authState.User.Identity.Name!</h1>

Bienvenido a la nueva aplicación.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<ComboVistasGrilla></ComboVistasGrilla>*@

@code{
    [CascadingParameter] public MainLayout Layout { get; set; }
    [CascadingParameter] public Task<AuthenticationState> authenticationState { get; set; }
    private AuthenticationState authState;
    protected async override Task OnInitializedAsync()
    {
        Layout.Titulo = "Inicio";

        authState = await authenticationState;

    }




}