@using Syncfusion.Blazor.Layouts
@page "/index"

<h1>Hola, @authState.User.Identity.Name!</h1>

Bienvenido a la nueva aplicación.
<br />
@*<strong>Nuevas Caracteristicas: impresion de evento</strong>*@
@*<a href="https://localhost:44379/api/ReportRDLC/GetReport?numeroVale=35071" target="_blank">Vale Pdf</a>
    <a href="https://localhost:44379/api/ReportRDLC/GetReportEvento?noConf=136" target="_blank">No Conf PDF</a>
    <a href="https://localhost:44379/api/ReportRDLC/GetReportEtiquetaOF?cg_ordf=72479" target="_blank">No Conf PDF</a>*@
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<ComboVistasGrilla></ComboVistasGrilla>*@

@*<iframe src="http://localhost:8090/" width="100%" height="1200" frameborder="0"></iframe>*@





@code{
    [CascadingParameter] public MainLayout Layout { get; set; }
    [CascadingParameter] public Task<AuthenticationState> authenticationState { get; set; }
    private AuthenticationState authState;
    protected async override Task OnInitializedAsync()
    {
        Layout.Titulo = "Inicio";

        authState = await authenticationState;
    }
}