@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using SupplyChain.Client.Pages.CDM
@inherits FormCargaValoresBase

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="500px" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @if (string.IsNullOrEmpty(controlCalidadPendientes.Id.ToString()))
            {
                <p>Nuevo Proceso</p>
            }
            else
            {
                <p>&nbsp;&nbsp;@controlCalidadPendientes.Id &nbsp;&nbsp;-&nbsp;&nbsp;@controlCalidadPendientes.Id</p>

            }
        </Header>
        <Content>

            <EditForm Model="controlCalidadPendientes" OnValidSubmit="@GuardarProceso">
                <DataAnnotationsValidator/>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-DatosGenerales" 
                            role="tab" aria-controls="pills-home" aria-selected="true">Datos Generales</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-12">
                        <SfToast ID="toast_default" @ref="ToastObj">
                            <ToastPosition X="Center" Y="Top"></ToastPosition>
                        </SfToast>

                        <SfGrid AllowReordering="true" AllowResizing="true" AllowTextWrap="false" Height="120px"
                                @ref="refGridItems" DataSource="@controlCalidadPendientes.Items" Width="100%" ID="grdItemsProcalMP"
                            AllowSorting="true" AllowPaging="false" GridLines="GridLine.Both">
                         <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="false"
                            Mode="@Syncfusion.Blazor.Grids.EditMode.Batch">
                            <GridEvents TValue="CargaValoresDetalles" OnBatchDelete="BatchDeleteHandler"
                                   CellSaved="CellSavedHandler" OnBatchAdd="BatchAddHandler" OnBatchSave="BatchSaveHandler"></GridEvents>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.Id) HeaderText="VALE" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="200px"></GridColumn>
                                <GridColumn Field=@nameof(vControlCalidadPendientes.DESPACHO) HeaderText="DESPACHO" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                                @*<GridColumn Field=@nameof(vControlCalidadPendientes.FE_REG) HeaderText="FE_ENSAYO" TextAlign="TextAlign.Left" Width="200px"></GridColumn>*@
                                <GridColumn Field=@nameof(vControlCalidadPendientes.CG_PROD) HeaderText="CG_PROD" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                                <GridColumn Field=@nameof(vControlCalidadPendientes.DESCAL) HeaderText="DESCAL" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                                <GridColumn Field=@nameof(vControlCalidadPendientes.UNIDADM) HeaderText="UNIDADM" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                                @*<GridColumn Field=@nameof(vControlCalidadPendientes.CANTMEDIDA) HeaderText="CANTMEDIDA" TextAlign="TextAlign.Left" Width="200px"></GridColumn>*@
                                @*<GridColumn Field=@nameof(vControlCalidadPendientes.OBSERV) HeaderText="OBSERV" TextAlign="TextAlign.Left" Width="200px"></GridColumn>*@
                                <GridColumn Field=@nameof(vControlCalidadPendientes.AVISO) HeaderText="AVISO" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
@*                                <GridColumn Field=@nameof(vControlCalidadPendientes.OBSERV1) HeaderText="OBSERV1" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
*@                                <GridColumn Field=@nameof(vControlCalidadPendientes.CG_PROVE) HeaderText="CG_PROVE" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                                <GridColumn Field=@nameof(vControlCalidadPendientes.REMITO) HeaderText="REMITO" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
@*                                <GridColumn Field=@nameof(vControlCalidadPendientes.VALORNC) HeaderText="VALORNC" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
*@                                @*<GridColumn Field=@nameof(vControlCalidadPendientes.LEYENDANC) HeaderText="LEYENDANC" TextAlign="TextAlign.Left" Width="200px"></GridColumn>*@
                                <GridColumn Field=@nameof(vControlCalidadPendientes.OCOMPRA) HeaderText="O_COMPRA" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                        </GridColumns>    
                     </SfGrid>                  
                    </div>
                </div>
               @* <div class="tab-content" id="pills-tabContent">
                   <div class="tab-pane fade show active" id="pills-DatosGenerales" role="tabpanel" aria-labelledby="pills-home-tab">
                       <div>
                           <label class="e-float-text e-label-top">DESPACHO</label>
                           <SfTextBox ID="DESPACHO" @bind-Value="(procesos.DESPACHO)"></SfTextBox>
                       </div>
                        <div>
                            <label class="e-float-text e-label-top">FE_ENSAYO</label>
                            <SfDateTimePicker ID="FE_REG" @bind-Value="(procesos.FE_REG)"></SfDateTimePicker>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">CG_PROD</label>
                            <SfTextBox ID="CG_PROD" @bind-Value="(procesos.CG_PROD)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">DESCAL</label>
                            <SfTextBox ID="DESCAL" @bind-Value="(procesos.DESCAL)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">CARCAL</label>
                            <SfTextBox ID="CARCAL" @bind-Value="(procesos.CARCAL)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">UNIDADM</label>
                            <SfTextBox ID="UNIDADM" @bind-Value="(procesos.UNIDADM )"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">CANTMEDIDA</label>
                            <SfNumericTextBox ID="CANTMEDIDA" @bind-Value="(procesos.CANTMEDIDA)"></SfNumericTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">OBSERV</label>
                            <SfTextBox ID="OBSERV" @bind-Value="(procesos.OBSERV)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">AVISO</label>
                            <SfTextBox ID="AVISO" @bind-Value="(procesos.AVISO)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">OBSERV1</label>
                            <SfTextBox ID="OBSERV1" @bind-Value="(procesos.OBSERV1)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">CG_PROVE</label>
                            <SfNumericTextBox ID="CG_PROVE" @bind-Value="(procesos.CG_PROVE)"></SfNumericTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">REMITO</label>
                            <SfTextBox ID="REMITO" @bind-Value="(procesos.REMITO)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">VALORNC</label>
                            <SfTextBox ID="VALORNC" @bind-Value="(procesos.VALORNC)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">O_COMPRA</label>
                            <SfNumericTextBox ID="O_COMPRA" @bind-Value="(procesos.O_COMPRA)"></SfNumericTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">UNID</label>
                            <SfTextBox ID="UNID" @bind-Value="(procesos.UNID)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">EVENTO</label>
                            <SfNumericTextBox ID="EVENTO" @bind-Value="(procesos.EVENTO)"></SfNumericTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">ENSAYOS</label>
                            <SfTextBox ID="ENSAYOS" @bind-Value="(procesos.ENSAYOS)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">FECHA</label>
                            <SfDateTimePicker ID="FECHA" @bind-Value="(procesos.FECHA)"></SfDateTimePicker>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">APROBADO</label>
                            <SfTextBox ID="APROBADO" @bind-Value="(procesos.APROBADO)"></SfTextBox>
                        </div>
                        <div>
                            <label class="e-float-text e-label-top">USUARIO</label>
                            <SfTextBox ID="USUARIO" @bind-Value="(procesos.USUARIO)"></SfTextBox>
                        </div>

                   </div>

                </div>*@
                <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>

            </EditForm>
           
        </Content>
    </DialogTemplates>
</SfDialog>
