@*@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using SupplyChain.Client.Pages.CDM
@inherits FormCargaValoresBase

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="500px" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @if(string.IsNullOrEmpty(valor.Id.ToString()))
            {
                <p>Nuevo Proceso</p>
            }
            else
            {
                <p>&nbsp;&nbsp;@valor.Id &nbsp;&nbsp;-&nbsp;&nbsp;@valor.Id</p>

            }
        </Header>
        <Content>
            <SfToolbar id="toolbar-form-solicitud" CssClass="">
                <ToolbarItems>
                </ToolbarItems>
            </SfToolbar>

            <EditForm id="formProcesos" Model="@valor" OnValidSubmit="@GuardarProceso">
                @*<DataAnnotationsValidator/>
                <ObjectGraphDataAnnotationsValidator/>
                <ValidationSummary/> 

                            <div class="row">
                                <div class="col-12">
                                    <SfToast ID="toast_default" @ref="ToastObj">
                                        <ToastPosition X="Center" Y="Top"></ToastPosition>
                                    </SfToast>

                                    <SfGrid AllowReordering="true" AllowResizing="true" AllowTextWrap="false" Height="120px"
                                        @ref="refGridItems" DataSource="@valor.Items"  Width="100%" ID="grdItemsPresup"
                                        AllowSorting="true" AllowPaging="false" GridLines="GridLine.Both">
                                      <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                           
                                      <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="false"
                                              Mode="@Syncfusion.Blazor.Grids.EditMode.Batch">
                               @* <GridEvents TValue="PresupuestoDetalle" OnBatchDelete="BatchDeleteHandler"
                                            CellSaved="CellSavedHandler" OnBatchAdd="BatchAddHandler" OnBatchSave="BatchSaveHandler"></GridEvents>
                            </GridEditSettings>


                                      <GridColumns>
                                          <GridColumn Field=@nameof(CargaValoresDetalles.Id) IsPrimaryKey="true" HeaderText="VALE" Width="4"></GridColumn>
                                          @*<GridColumn Field=@nameof(Valores.VALE) HeaderText="VALE" Width="130px" AllowEditing="false"></GridColumn
                                          <GridColumn Field=@nameof(Valores.DESPACHO) HeaderText="DESPACHO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.FE_ENSAYO) HeaderText="FE_ENSAYO" Width="130px" AllowEditing="true"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.CG_PROD) HeaderText="CG_PROD" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.DESCAL) HeaderText="DESCAL" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.CARCAL) HeaderText="CARCAL" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.UNIDADM) HeaderText="UNIDADM" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.CANTMEDIDA) HeaderText="CANTMEDIDA" Width="130px" AllowEditing="true"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.OBSERV) HeaderText="OBSERV" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.AVISO) HeaderText="AVISO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.OBSERV1) HeaderText="OBSERV1" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.CG_PROVE) HeaderText="CG_PROVE" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.REMITO) HeaderText="REMITO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.VALORNC) HeaderText="VALORNC" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.LEYENDANC) HeaderText="LEYENDANC" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.O_COMPRA) HeaderText="O_COMPRA" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.UNID) HeaderText="UNID" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.EVENTO) HeaderText="EVENTO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.ENSAYOS) HeaderText="ENSAYOS" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.FECHA) HeaderText="FECHA" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.APROBADO) HeaderText="APROBADO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.USUARIO) HeaderText="USUARIO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Valores.REGISTRO) HeaderText="REGISTRO" Width="130px" AllowEditing="false"></GridColumn>
                                      </GridColumns>
                                  </SfGrid>
                                </div>
                            </div>
                <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>
*@